@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}